Repository openvinotoolkit/openvino_notebooks, pull requests merged in 2023-04, with the labels that each got.

#983 move notebook specific dependencies to notebooks
  .docker/Pipfile.lock
  notebooks/103-paddle-to-openvino/103-paddle-to-openvino-classification.ipynb
  notebooks/105-language-quantize-bert/105-language-quantize-bert.ipynb
  notebooks/107-speech-recognition-quantization/107-speech-recognition-quantization-data2vec.ipynb
  notebooks/110-ct-segmentation-quantize/110-ct-scan-live-inference.ipynb
  notebooks/110-ct-segmentation-quantize/110-ct-segmentation-quantize-nncf.ipynb
  notebooks/110-ct-segmentation-quantize/110-ct-segmentation-quantize.ipynb
  notebooks/110-ct-segmentation-quantize/pytorch-monai-training.ipynb
  notebooks/111-detection-quantization/111-detection-quantization.ipynb
  notebooks/117-model-server/117-model-server.ipynb
  notebooks/202-vision-superresolution/202-vision-superresolution-video.ipynb
  notebooks/205-vision-background-removal/205-vision-background-removal.ipynb
  notebooks/206-vision-paddlegan-anime/206-vision-paddlegan-anime.ipynb
  notebooks/207-vision-paddlegan-superresolution/207-vision-paddlegan-superresolution.ipynb
  notebooks/211-speech-to-text/211-speech-to-text.ipynb
  notebooks/212-pyannote-speaker-diarization/212-pyannote-speaker-diarization.ipynb
  notebooks/212-pyannote-speaker-diarization/requirements.txt
  notebooks/214-grammar-correction/214-grammar-correction.ipynb
  notebooks/220-yolov5-accuracy-check-and-quantization/220-yolov5-accuracy-check-and-quantization.ipynb
  notebooks/227-whisper-subtitles-generation/227-whisper-subtitles-generation.ipynb
  notebooks/234-encodec-audio-compression/234-encodec-audio-compression.ipynb
  notebooks/234-encodec-audio-compression/requirements.txt
  notebooks/305-tensorflow-quantization-aware-training/305-tensorflow-quantization-aware-training.ipynb
  notebooks/405-paddle-ocr-webcam/405-paddle-ocr-webcam.ipynb
  requirements.txt
Labels: dependencies

#790 109 performance tricks
  README.md
  README_cn.md
  notebooks/109-performance-tricks/109-latency-tricks.ipynb
  notebooks/109-performance-tricks/README.md
  notebooks/109-performance-tricks/model/.gitkeep
Labels: new notebook, tech_review: ready

#902 [GSoC] Added segmenter notebook
  README.md
  notebooks/204-segmenter-semantic-segmentation/204-segmenter-semantic-segmentation.ipynb
  notebooks/204-segmenter-semantic-segmentation/README.md
Labels: new notebook, gsoc, tech_review: ready, RFR2
