Repository openvinotoolkit/openvino_notebooks, pull requests merged in 2023-08, with the labels that each got.

#908 [GSoC] 237 - Typo Detection
  README.md
  notebooks/245-typo-detector/245-typo-detector.ipynb
  notebooks/245-typo-detector/README.md
Labels: new notebook, gsoc, tech_review: ready

#978 [GSOC] Add 245 depth estimation notebook
  README.md
  notebooks/245-depth-estimation-videpth/245-depth-estimation-videpth.ipynb
  notebooks/245-depth-estimation-videpth/README.md
  notebooks/245-depth-estimation-videpth/vi_depth_utils/data_loader.py
  notebooks/245-depth-estimation-videpth/vi_depth_utils/modules/estimator.py
  notebooks/245-depth-estimation-videpth/vi_depth_utils/modules/interpolator.py
  notebooks/245-depth-estimation-videpth/vi_depth_utils/modules/midas/base_model.py
  notebooks/245-depth-estimation-videpth/vi_depth_utils/modules/midas/blocks.py
  notebooks/245-depth-estimation-videpth/vi_depth_utils/modules/midas/midas_net_custom.py
  notebooks/245-depth-estimation-videpth/vi_depth_utils/modules/midas/normalization.py
  notebooks/245-depth-estimation-videpth/vi_depth_utils/modules/midas/transforms.py
  notebooks/245-depth-estimation-videpth/vi_depth_utils/modules/midas/utils.py
  notebooks/407-person-tracking-webcam/407-person-tracking.ipynb
Labels: new notebook, gsoc, tech_review: ready, RFR2

#974 [GSoC] Added notebook 204-code-language-id
  README.md
  notebooks/245-code-language-id/245-code-language-id.ipynb
  notebooks/245-code-language-id/README.md
Labels: new notebook, gsoc, tech_review: ready, RFR2

#1197 Add 121-model-preparation notebook
  README.md
  notebooks/121-convert-to-openvino/121-convert-to-openvino.ipynb
  notebooks/121-convert-to-openvino/README.md
Labels: new notebook

#1220 SDXL image generation notebook
  .ci/ignore_convert_execution.txt
  .ci/ignore_treon_docker.txt
  .ci/ignore_treon_linux.txt
  .ci/ignore_treon_mac.txt
  .ci/ignore_treon_win.txt
  .ci/spellcheck/.pyspelling.wordlist.txt
  README.md
  notebooks/248-stable-diffusion-xl/248-stable-diffusion-xl.ipynb
  notebooks/248-stable-diffusion-xl/README.md
Labels: new notebook

#1049 OneFormer tutorial
  .ci/ignore_treon_docker.txt
  .ci/ignore_treon_linux.txt
  .ci/ignore_treon_mac.txt
  .ci/ignore_treon_win.txt
  .ci/spellcheck/.pyspelling.wordlist.txt
  README.md
  notebooks/249-oneformer-segmentation/249-oneformer-segmentation.ipynb
  notebooks/249-oneformer-segmentation/README.md
  notebooks/249-oneformer-segmentation/sample.jpg
Labels: new notebook

#1242 Text conditioned music generation with MusicGen
  .ci/spellcheck/.pyspelling.wordlist.txt
  README.md
  notebooks/250-music-generation/250-music-generation.ipynb
  notebooks/250-music-generation/README.md
Labels: new notebook

#1244 notebook for tiny sd
  .ci/ignore_convert_execution.txt
  .ci/ignore_treon_docker.txt
  .ci/ignore_treon_linux.txt
  .ci/ignore_treon_mac.txt
  .ci/ignore_treon_win.txt
  .ci/spellcheck/.pyspelling.wordlist.txt
  README.md
  notebooks/251-tiny-sd-image-generation/251-tiny-sd-image-generation.ipynb
  notebooks/251-tiny-sd-image-generation/README.md
Labels: new notebook

#1232 Fastcomposer
  .ci/ignore_treon_docker.txt
  .ci/ignore_treon_linux.txt
  .ci/ignore_treon_mac.txt
  .ci/ignore_treon_win.txt
  .ci/spellcheck/.pyspelling.wordlist.txt
  README.md
  notebooks/252-fastcomposer-image-generation/252-fastcomposer-image-generation.ipynb
  notebooks/252-fastcomposer-image-generation/README.md
  notebooks/252-fastcomposer-image-generation/inference-pipeline.jpg
  notebooks/252-fastcomposer-image-generation/model.py
Labels: new notebook

#1240 ZeroScope text-to-video notebook
  .ci/ignore_treon_docker.txt
  .ci/ignore_treon_linux.txt
  .ci/ignore_treon_mac.txt
  .ci/ignore_treon_win.txt
  .ci/spellcheck/.pyspelling.wordlist.txt
  README.md
  notebooks/253-zeroscope-text2video/253-zeroscope-text2video.ipynb
  notebooks/253-zeroscope-text2video/README.md
Labels: new notebook
