Repository openvinotoolkit/openvino_notebooks, pull requests merged in 2023-07, with the labels that each got.

#1154 Add notebook with TF2 Object Detection model conversion OOB with MO Python API
  .gitignore
  README.md
  README_cn.md
  notebooks/001-hello-world/001-hello-world.ipynb
  notebooks/002-openvino-api/002-openvino-api.ipynb
  notebooks/101-tensorflow-classification-to-openvino/101-tensorflow-classification-to-openvino.ipynb
  notebooks/101-tensorflow-classification-to-openvino/README.md
  notebooks/120-tensorflow-object-detection-to-openvino/120-tensorflow-object-detection-to-openvino.ipynb
  notebooks/120-tensorflow-object-detection-to-openvino/README.md
Labels: new notebook

#922 [GSoC] 210-Video Recognition using SlowFast
  README.md
  notebooks/210-slowfast-video-recognition/210-slowfast-video-recognition.ipynb
  notebooks/210-slowfast-video-recognition/README.md
Labels: new notebook, gsoc, tech_review: ready, RFR2

#1168 add tutorial for PyTorch model conversion
  README.md
  README_cn.md
  notebooks/102-pytorch-onnx-to-openvino/102-pytorch-onnx-to-openvino.ipynb
  notebooks/102-pytorch-onnx-to-openvino/README.md
  notebooks/102-pytorch-to-openvino/102-pytorch-onnx-to-openvino.ipynb
  notebooks/102-pytorch-to-openvino/README.md
Labels: new notebook

#1172 Update README_cn.md
  README_cn.md
Labels: documentation

#1171 selfie segmentation notebook
  README.md
  notebooks/243-tflite-selfie-segmentation/243-tflite-selfie-segmentation.ipynb
  notebooks/243-tflite-selfie-segmentation/README.md
Labels: new notebook

#1179 Find all binder and colab links in readme
  .ci/convert_notebooks.sh
  README.md
Labels: documentation

#1183 Python version fixed
  .ci/convert_notebooks.sh
  README.md
Labels: documentation

#1163 Add named entity recognition notebook
  README.md
  notebooks/243-named-entity-recognition/243-named-entity-recognition.ipynb
  notebooks/243-named-entity-recognition/README.md
Labels: new notebook

#1196 Fixed documentation conversion issues
  .ci/ignore_convert_execution.txt
  notebooks/228-clip-zero-shot-image-classification/228-clip-zero-shot-convert.ipynb
  notebooks/228-clip-zero-shot-image-classification/228-clip-zero-shot-quantize.ipynb
Labels: enhancement, fix

#1190 Enable non-visual text skip for spell checking
  .ci/spellcheck/.pyspelling.wordlist.txt
  .ci/spellcheck/.pyspelling.yml
  CONTRIBUTING.md
Labels: enhancement

#1151 Add Book Alignment Notebook
  .ci/spellcheck/.pyspelling.wordlist.txt
  README.md
  notebooks/220-cross-lingual-books-alignment/220-cross-lingual-books-alignment.ipynb
  notebooks/220-cross-lingual-books-alignment/README.md
Labels: new notebook

#1159 Throughput performance tricks notebooks
  .ci/spellcheck/.pyspelling.wordlist.txt
  notebooks/109-performance-tricks/109-latency-tricks.ipynb
  notebooks/109-performance-tricks/109-throughput-tricks.ipynb
  notebooks/109-performance-tricks/README.md
Labels: new notebook
